body {
    font-family: Urbanist;
    color: #1A1B1B;
}
                    /* ------------ Header ------------ */

header {
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 47px;
    position: fixed;
    top: 0; 
    box-sizing: border-box; 
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); 
    background: white;
    z-index: 100;
}

.navigation-logo-container {
    display: flex;
    gap: 24px;
    align-items: center;
    box-sizing: border-box;
}

.navigation-logo-container button {
    background: #006CE5;
    padding: 18px 16px;
    border: none;
}

.burger-menu-button {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.logo-image {
    width: 103px;
    height: 29px;
} 

.live-icon-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    margin: 9.5px 0;
    border-left: 1px solid #D4D4D4;
}

.header-live-text {
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.header-live-icon {
    height: 28px;
    width: 28px;
}

.header-navigation-list {
    display: none;
}

@media(min-width: 768px){
    .logo-image {
        width: 103px;
        height: 29px;
    } 
}

@media (min-width: 1368px) {
    header {
       padding: 14px 36px;
    }

    .logo-image {
       width: 114px;
       height: 32px;
    }  

    .navigation-list-wrapper ul {
       display: flex;
       gap: 40px;
       align-items: center;
    }

    .header-navigation-list a {
        color: #1A1B1B;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    .navigation-button {
        display: none;
    }

    .live-icon-container  img {
        border-left: 1px solid #D4D4D4;
        padding-left: 8px;
    }

    .live-icon-container{
        gap: 12px;
    }
}
                    /* ------------ Main ------------ */

.main-news-section {
    margin: 91px 8px 0;
}

.about-topic-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 125%; 
    margin-bottom: 12px;
}

.main-topic {
    font-size: 54px;
    font-weight: 600;
    line-height: 110%; 
    margin-bottom: 8px;
}

.main-news-wrapper {
    border-top: 1px solid #D4D4D4;
}

.main-news-container {
    padding-top: 32px;
    position: relative;
}

.main-news-container img {
    margin-bottom: 16px;
    width: 100%;
    background: url("../image 1.png") no-repeat center center;
    background-size: cover;
} 

.main-news-container .main-topic-text {
    position: absolute;
    bottom: 97px;
    left: 0;
    background: white;
    padding: 10px 20px 10px 0;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.main-news-container p {
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
}

.news-card:nth-of-type(2) {
    border-top: 1px solid #D4D4D4;
    padding-top: 24px;
}

.news-card:nth-of-type(3) {
    border-top: 1px solid #D4D4D4; 
    padding-top: 24px; 
}

.news-container {
    display: flex;
    flex-direction: column;
    margin: 32px 0 4px;
}

.news-container .topic-text {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; 
    text-transform: uppercase;
    padding: 10px 20px 10px 0;
}

.news-container p {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.other-news-topic {
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin: 32px 0;
}

.other-news-wrapper {
    border-top: 1px solid #D4D4D4;
}

.other-news-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-topic-text{
    padding: 6px 20px 6px 0px;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; 
    text-transform: uppercase;
} 

.news-paragraph-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; 
    margin-bottom: 10px;
}

.news-paragraph-subtext {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 10px;
}

.news-date {
    font-size: 14px;
    font-weight: 200;
    line-height: 120%; 
}

.video-card {
    position: relative;
}

.video-card .play-button {
    position: absolute;
    top: 125px;
    right: 10px;
    width: 32px;
    height: 32px;
}

.button-section {
    margin: 32px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.news-button {
    color: #006CE5;
    width: 37px;
    padding: 10px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #D4D4D4;
}

.button-shevron {
    border: none;
    background: #fff;
    color: #006CE5; 
}

.news-button:focus {
    color: #1A1B1B;
}

.tags-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 44px 7px 44px 8px;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
}

.search-input {
    display: flex;
    flex-direction: row;
    width: 306px;
}

.search-input button {
    padding: 10px;
    background: #006CE5;
    border: none;
}

.search-input input {
    padding-left: 10px;
    width: 270px;
    height: 39.5px;
    background: #DCE4E7;
    border: none;
    box-sizing: border-box;
}

.tag-icon-title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%; 
}

.tag-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.tags-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.tags-items a {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding: 8px 16px;
    border-radius: 800px;
    background: #FFF;
    text-decoration: none;
}

.news-card {
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .main-news-wrapper {
        padding-bottom: 40px;
}
    .news-container {
        margin: 0;
        padding-top: 32px;
}
    .news-card {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding-bottom: 16px;
    }

    .news-card:nth-of-type(2) {
        padding-top: 16px;
    }

    .news-card:nth-of-type(3) {
        padding-top: 16px;
    }

    .news-card img {
        width: 296px;
        height: 166px;
        margin: 0;
    }
    
    .other-news-topic-wrapper {
        width: 100%;
    }

    .news-card-container{
        display: flex;
        gap: 24px;
}

    .other-news-topic {
        font-size: 42px;
        font-weight: 800;
        line-height: 110%;
    }

    .about-topic-text {
        font-size: 22px;
        font-weight: 400;
        line-height: 125%; 
        margin-bottom: 4px;
    }

    .main-news-container .main-topic-text {
        bottom: 80px; 
    }

    .main-news-container p {
        color: #1A1B1B;
        font-size: 28px;
        font-weight: 800;
        line-height: 110%; 
    }

    .news-card-container {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .news-card-container img {
        width: 296px;
        height: 166px;
    }

    .video-card .play-button {
        bottom: 130px;
        left: 255px;
    }

    .tags-items {
        width: 526px;
    }
}

@media (min-width: 1368px) {
    .main-news-section {
        margin: 91px 36px 0;
    }
    .main-news-wrapper {
        display: flex;
        gap: 24px;
        padding: 32px 0 56px ;
    }

    .main-news-container img {
        width: 746px;
        height: 418px;
    }

    .news-card img {
        width: 196px;
        height: 110px;
    }

    .news-container {
        margin: 0;
        padding-top: 0;
    }

    .news-card {
        padding-bottom: 32px;
    }

    .news-card:nth-of-type(2) {
        padding-top: 32px;
    }

    .news-card:nth-of-type(3) {
        padding-top: 32px;
    }

    .main-news-container .main-topic-text {
        bottom: 79px;
        left: 0;
    }
    
    .main-news-container {
        padding: 0;
    }

    .other-news-wrapper {
        display: flex;
        padding: 56px 0 64px;
    }

    .other-news-topic {
        margin: 0;
    }

    .news-card-container img {
        width: 306px;
        height: 172px;
    }

    .other-news-topic-wrapper {
        width: 70%;
    }

    .video-card .play-button {
        position: absolute;
        top: 130px;
        left: 265px;
    }

    .button-section {
        margin: 0 auto 32px;
    }
}

                    /* ------------ Footer ------------ */

.footer-logo-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px auto 24px;
    align-items: center;
}

.footer-logo-container img {
    width: 154px;
    height: 42px;
    
}

.footer-logo-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

@media (min-width: 768px) {
    .footer-logo-container {
        gap: 24px;
        margin: 48px auto;
    }

    .footer-logo-container img {
        width: 196px;
        height: 54px;
    }

}

@media (min-width:1368px) {
    .footer-logo-container {
        margin: 40px auto;
    }
}